<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-3xl space-y-24">
    <div>
      <h1 class="<%= h1_classes %>">Drawers</h1>
      <ul class="list-disc ml-6 dark:text-white">
        <li class="py-2"><%= link_to "Right drawer (default)", testing_drawer_path(:basic), data: {turbo_frame: "modal"} %>
        <li class="py-2"><%= link_to "Left drawer", testing_drawer_path(:left), data: {turbo_frame: "modal"} %>
        <li class="py-2"><%= link_to "Drawer without overlay", testing_drawer_path(:overlay), data: {turbo_frame: "modal"} %>
        <li class="py-2"><%= link_to "Large drawer", testing_drawer_path(:large), data: {turbo_frame: "modal"} %>
        <li class="py-2"><%= link_to "Drawer with header divider", testing_drawer_path(:header_divider), data: {turbo_frame: "modal"} %>
        <li class="py-2"><%= link_to "Drawer with long content", testing_drawer_path(:long), data: {turbo_frame: "modal"} %>
        <li class="py-2"><%= link_to "Drawer with footer", testing_drawer_path(:footer), data: {turbo_frame: "modal"} %>
        <li class="py-2"><%= link_to "Drawer hosting a nested modal", testing_drawer_path(:nested_modal_host), data: {turbo_frame: "modal"} %>
      </ul>
    </div>

    <div>
      <p class="dark:text-white"><%= link_to "← Back to modal demos", testing_modal_index_path %></p>
    </div>
  </div>
</div>
